
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$black: #000000;
$blue: #253D5B;
$white: #FFFFFF;
$grey: #d3d3d3;
$link: #0000EE;
$purple: #551A8B;
$font_stack: 'Poppins', sans-serif;
