#faqcontainer {
  width:50%;
  margin-left: 25%;
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  margin-top: 80px;
  h1 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .question {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .answer {
    margin-bottom: 20px;
  }
}
@media all and (max-width:822px)
{
  #faqcontainer{
    width:80%;
    margin-left:10%;
  }
}